<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>

      <!-- Navigation -->
      <% include ./partials/navbar.ejs %>

      <!-- Page Content -->
      <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

   <!--banner-->
 <section id="banner" class="banner">
    <% include ./partials/messages.ejs %>
   <div class="bg-color">
     <!-- Navigation -->
       <% include ./partials/navbar.ejs %>
       <!--Main-->
        <div class="container">
         <!-- <div class="row"> -->
           <div class="banner-info">
             <div class="banner-text text-center">
               <h1 class="white">Share the joy of parenting</h1>
               <p>Parenting is hard, tiring, frustrating...wait..it's not actually filled with all the negatives.</p>
               <p>Share the joy of parenting, positive messages, encouragement to give us energies and enjoy parenting!</p>
               <br>
               <a href="/users/sign_up" class="btn btn-light btn-lg">Join the community</a>
             </div>
           </div>
         <!-- </div> -->
       </div>
     </div>
</section>

      <!-- /.container -->

      <% include ./partials/baseScripts.ejs %>
    </body>
</html>
